
@if (estaAInici){

  <div class="header-container" [ngClass]="{ 'home-header': isHomePage, 'other-page-header': !isHomePage }">
  
    <!-- Logo (no canvia) -->
    <img src="/imglogo.png" alt="Logo de Tapatap" class="logo" routerLink="/" (click)="closeMenu()" />
  
    <!-- Navegació d'escriptori (la de sempre, però ara amb una classe) -->
    <nav class="nav-links desktop-nav">
      <a *ngFor="let item of navItems"
         [routerLink]="item.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: item.path === '/' }"
         class="nav-button">
        {{ item.label }}
      </a>
    </nav>
  
  </div>
} @else {
  <div class="header-container" [ngClass]="{ 'home-header': !isHomePage, 'other-page-header': isHomePage }">
  
    <!-- Logo (no canvia) -->
    <img src="/imglogo.png" alt="Logo de Tapatap" class="logo" routerLink="/" (click)="closeMenu()" />
  
    <!-- Navegació d'escriptori (la de sempre, però ara amb una classe) -->
    <nav class="nav-links desktop-nav">
      <a *ngFor="let item of navItems"
         [routerLink]="item.path"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: item.path === '/' }"
         class="nav-button">
        {{ item.label }}
      </a>
    </nav>
  
  </div>
}

