/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Concert+One&family=DynaPuff:wght@400..700&family=Libertinus+Mono&family=Quicksand:wght@300..700&display=swap');



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
  }